<div class="container">
  <div class="row justify-content-center">
    <mat-form-field appearance="legacy" class="mr-3">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Digite sua descrição" [(ngModel)]="dado.descricao">
      <!--  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Grupo</mat-label>
      <mat-select required [(value)]="selecionado">
        <mat-option [value]="1032">Calça</mat-option>
        <mat-option [value]="1033">Camisa</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-success" *ngIf="param" (click)="editarDado()">Editar</button>
    <button class="btn btn-success" *ngIf="!param" (click)="inserirDado()">Inserir</button>
  </div>

</div>

